/*Header styling*/
.header {
    z-index: 5;
    overflow: hidden;
    height: 50px;
    font-size: 24px;
    letter-spacing: 1px;
    color: #ffffff;
    background: black;
    margin-bottom: 20px;
}

.nav-left {
    width: 20%;
    float: left;
    height: 100%;
}

.nav-right {
    width: 60%;
    float: right;
    height: 100%;
}

.nav-left-ul,
.nav-right-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

.nav-right-ul__li {
    float: right;
    height: 100%;
}

.nav-left-ul__li {
    float: left;
    height: 100%;
}

.header-button,
.footer-ul__li a,
.material-icons {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    border: none;
    cursor: pointer;
    padding: 12px 14px;
    color: #ffffff;
    font-size: 24px;
    height: 100%;
}

.material-icons {
    padding: 0;
}

.header-button:hover {
    background-color: #4b4b4b;
    border: none;
    padding: 12px 14px;
}

/*Footer styling*/
.footer {
    height: 50px;
    width: 100%;
    clear: both;
    position: fixed;
    bottom: 0;
    font-size: 30px;
    text-align: center;
    background: black;
    z-index: 100;
}

.footer-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.footer-ul__li {
    float: right;
}

.facebook-link:hover {
    color: #3b5998;
}

.twitter-link:hover {
    color: #00acee;
}

/*Mode section styling*/

.mode-section {
    position: relative;
    top: 15vh;
    width: 50vw;
    height: 25vh;
    margin: 0 auto;
}

.mode-section__link {
    display: block;
    width: 40%;
    float: left;
    margin: 2%;
    padding: 1%;
}

.mode-section__link:hover {
    background: #EC9787;
}

.mode-img {
    width: 100%;
}

/*Custom checkbox slider styling*/
.b-ingredients-label {
    position: relative;
    display: none;
    width: 2.5vw;
    height: 1.5vw;
    float: right;
}

.b-ingredients-label__checkbox {
    display: none;
}

.b-ingredients-label__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.b-ingredients-label__slider:before {
    position: absolute;
    content: "";
    height: 1vw;
    width: 1vw;
    left: 0.25vw;
    bottom: 0.25vw;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.b-ingredients-label__checkbox:checked + .b-ingredients-label__slider {
    background-color: #E94B3C;
}

.b-ingredients-label__checkbox:focus + .b-ingredients-label__slider {
    box-shadow: 0 0 1px #E94B3C;
}

.b-ingredients-label__checkbox:checked + .b-ingredients-label__slider:before {
    -webkit-transform: translateX(0.9vw);
    -ms-transform: translateX(0.9vw);
    transform: translateX(0.9vw);
}

button {
    padding: 0.8vw 1.2vw;
    font-size: 1.2vw;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    background: black;
}

button:hover,
a:hover {
    opacity: 0.6;
}

button:focus {
    opacity: 1;
}

/*Car\t styling*/

.b-cart {
    width: 90vw;
    min-height: calc(100vh - 100px);
    padding: 0 0 50px 0;
    background: white;
    margin: 50px auto;
    font-family: Verdana, sans-serif;
    position: absolute;
    left: 5vw;
    z-index: 20;
    color: white;
}

.b-table {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5vw;
    font-weight: normal;
    color: black;
}

.b-table,
.b-tr,
.b-tr__th,
.b-tr__td {
    border: 2px solid black;
    border-collapse: collapse;
}

.b-tr__th {
    padding: 1vw;
}

.b-tr__td {
    padding: 2vw 0;
}

.b-total {
    width: 30%;
    margin: 2vw auto;
    padding: 0.4vw;
    background: #006E51;
    text-align: center;
    font-size: 2.2vw;
}

.b-tr__cart-button {

    background: black;
    width: 4vw;
    height: 4vw;
    margin: 0 0 1vw 0;
    font-size: 2vw;
    text-align: center;
    border-radius: 15%;
}

.b-button-to-cart {
    position: relative;
    bottom: 0;
}

.b-cart-link {
    float: right;
    background: black;
    padding: 0.8vw 1vw;
    color: white;
}

.b-cart-shopping-link {
    background: black;
    position: relative;
    padding: 1vw 1vw;
    left: calc((100% - 2.2vw) / 2);
}

.material-icons {
    font-size: 2vw;
}

.b-cart__clear-button {
    padding: 1vw 1.2vw;
    position: relative;
}

.b-cart-message {
    width: max-content;
    margin: 0 auto;
    font-size: 1.8vw;
}

.b-cart-message__text {
    color: black;
    text-align: center;
}

.b-cart-buttons {
    position: relative;
    top: 2vw;
    width: 20%;
    margin: 0 auto;
    text-align: center;
}

.b-cart-buttons__text {
    color: black;
    font-size: 1.8vw;
    vertical-align: center;
}

.b-cart-buttons__order-button {
    padding: 1vw 1.4vw;
    font-size: 2vw;
}

.b-order-info {
    box-shadow: inset 0 0 1vh black;
    color: black;
    font-size: 2vw;
}

.b-order-info {
    position: absolute;
    bottom: 60vh;
    width: 40%;
    left: 30%;
    margin: 0 auto;
    text-align: center;
}

.b-order-info__close-button {
    position: absolute;
    top: 1vh;
    right: 1vh;
    background: none;
    color: black;
    font-size: 2vw;
}

/*Grid styling*/

.b-grid {
    width: 80vw;
    height: max-content;
    margin: auto;
    font-family: Verdana, sans-serif
}

.b-row {
    width: 95%;
    height: max-content;
    margin: 0 auto;
    position: relative;
}

.b-article {
    display: none;
    width: 33%;
    height: 48vw;
    float: left;
}

.b-photo-container {
    width: 70%;
    margin: 0 auto;
}

.b-pizza-name {

    text-align: center;
    font-size: 2vw;
}

.b-description-container {
    width: 100%;
    height: max-content;
}

.b-description-container-list {
    width: 55%;
    padding: 5% 0 20% 0;
    margin: 0 auto;
    list-style-type: none;
    position: relative;
    font-size: 1.2vw;
    float: left;
}

.b-description-container-custom {
    width: 38%;
    float: right;
}

.b-description-container-custom-list {
    width: 100%;
    float: left;
    list-style-type: none;
    padding: 0;
    font-size: 1.2vw;
    display: none;
}

.b-button-to-cart {
    padding: 0.4vw 0.8vw;
    background: #00A591;
    font-size: 2vw;
    position: relative;
    z-index: 100;
    top: 5vw;
    left: 2vw;
}

.b-description-container-custom-list__li {
    width: 100%;
    display: block;
    margin: 2%;
}

.b-button-container {
    width: 70%;
    margin: 0 auto 20px;
}

.b-button-container__input {
    width: 65%;
    border: none;
    border-bottom: 1px solid black;
    text-align: center;
    font-size: 2vw;
    position: relative;
    bottom: 0;
    left: 2vw;
}

/*List styling*/

.b-list {
    width: 80vw;
    height: max-content;
    margin: auto;
    font-family: Verdana, sans-serif;
}

.b-ul {
    width: 30%;
    margin: 0 auto;
    padding: 0 0 7% 0;
    list-style-type: none;
    position: relative;
    font-size: 2vw;
    border-right: 1px solid black;
}

.b-ul__li {
    width: 90%;
    display: block;
    padding: 4px 10px;
}

.b-list-button-container {
    width: 50%;
    margin: 0 auto 20px;
    padding: 0 0 5% 0;
}

.b-list-button-container__button {
    padding: 1% 2%;
    background: black;
    color: white;
    font-size: 2vw;
    outline: none;
    border: 1px solid white;
    cursor: pointer;
    position: relative;
    left: 40%;
    width: 20%;
}